 .u-section-1 {
  background-image: url("images/Untitled-1copy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 61px 504px 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  width: 978px;
  margin: 30px 0 24px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 425px;
  grid-gap: 30px 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-icon-1 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 17px;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: normal;
  margin: 20px 30px 0;
}

.u-section-1 .u-line-1 {
  width: 298px;
  margin: 4px -22px 0 30px;
}

.u-section-1 .u-btn-1 {
  margin: 30px auto 0;
  padding: 17px 58px 18px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-icon-2 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 17px;
}

.u-section-1 .u-text-4 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  font-style: normal;
  margin: 20px 30px 0;
}

.u-section-1 .u-line-2 {
  width: 298px;
  transform-origin: left center 0px;
  margin: 4px -22px 0 30px;
}

.u-section-1 .u-btn-2 {
  margin: 30px auto 0;
  padding: 17px 58px 18px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-icon-3 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 17px;
}

.u-section-1 .u-text-6 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  font-style: normal;
  margin: 20px 30px 0;
}

.u-section-1 .u-line-3 {
  width: 298px;
  transform-origin: left center 0px;
  margin: 4px -22px 0 30px;
}

.u-section-1 .u-btn-3 {
  margin: 30px auto 0;
  padding: 17px 58px 18px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 304px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 407px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }

  .u-section-1 .u-text-3 {
    margin-right: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 11px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 11px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-3 {
    margin-left: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 84px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 987px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}